In [107]:
import os
import pandas as pd
import numpy as np

# Preprocesamiento

## Lectura y filtrado de datos

In [295]:
data_path = r'/data/dibanez/tesis/IT_Platform_Clean_Data_V3/'
!ls {data_path}

Arequipa  Chachapoyas  Juliaca	Lima  Tacna

In [296]:
data_path_output = r'/data/dibanez/tesis/data_preprocesada/1.filtrada/'
!ls {data_path_output}

Arequipa_UNSA_CIGS_agg_day_hour.csv	 Juliaca_UNAJ_PERC_agg_day_hour.csv
Arequipa_UNSA_HIT_agg_day_hour.csv	 Lima_PUCP_CIGS_agg_day_hour.csv
Arequipa_UNSA_PERC_agg_day_hour.csv	 Lima_PUCP_HIT_agg_day_hour.csv
Chachapoyas_UNTRM_CIGS_agg_day_hour.csv  Lima_PUCP_PERC_agg_day_hour.csv
Chachapoyas_UNTRM_HIT_agg_day_hour.csv	 Tacna_UNJBG_CIGS_agg_day_hour.csv
Chachapoyas_UNTRM_PERC_agg_day_hour.csv  Tacna_UNJBG_HIT_agg_day_hour.csv
Juliaca_UNAJ_CIGS_agg_day_hour.csv	 Tacna_UNJBG_PERC_agg_day_hour.csv
Juliaca_UNAJ_HIT_agg_day_hour.csv

In [297]:
!ls {data_path}/Arequipa

UNSA

In [298]:
def preprocesar_data(df, departamento, universidad, tecnologia):
    df_pre = df.copy()
    df_pre = df_pre.set_index('Fecha')
    print(f'{len(df_pre[df_pre.index.duplicated(keep="first")])/len(df_pre)*100:.2}% de duplicados')
    df_pre = df_pre[~df_pre.index.duplicated(keep='first')]
    df_pre = df_pre[df_pre.columns[1:]].resample('H').mean()
    df_pre = df_pre.between_time('06:00:00', '17:00:00', include_end=False)
    print("Shape después de preprocesamiento:", df_pre.shape)
    print("Fecha mínima:", df_pre.index.min())
    print("Fecha máxima:", df_pre.index.max())
    print()
    df_day_hour.to_csv(f'{data_path_output}{departamento}_{universidad}_{tecnologia}_agg_day_hour.csv')

In [299]:
%%time

columnas=['arch','Fecha', 'Tamb', 'Tmod', 'Irradiancia', 'Vdc', 'Idc', 'Paparente',
       'Pac', 'Pdc']
for departamento in os.listdir(data_path):
    for universidad in os.listdir(f'{data_path}/{departamento}'):
        for tecnologia in os.listdir(f'{data_path}/{departamento}/{universidad}'):
            print(departamento, universidad, tecnologia)
            df = pd.DataFrame(columns=columnas)
            for arch in os.listdir(f'{data_path}/{departamento}/{universidad}/{tecnologia}'):
                if 'Overall' in arch: continue
                df_temp = pd.read_csv(f'{data_path}/{departamento}/{universidad}/{tecnologia}/{arch}', parse_dates=True)
                df_temp['arch'] = arch
                df_temp['Fecha'] = df_temp['Fecha'].astype(np.datetime64)
                df_temp[columnas[2:]] = df_temp[columnas[2:]].astype(np.float64) 
                df_temp =df_temp[columnas]
                df = df.append(df_temp, ignore_index=True)
            print("Shape antes de preprocesamiento:", df.shape)
            preprocesar_data(df, departamento, universidad, tecnologia)
#             print(df.dtypes)
#             print(df[columnas])
#             break

Lima PUCP CIGS
Shape antes de preprocesamiento: (520224, 10)
0.048% de duplicados
Shape después de preprocesamiento: (7029, 8)
Fecha mínima: 2020-02-01 06:00:00
Fecha máxima: 2021-10-31 16:00:00

Lima PUCP HIT
Shape antes de preprocesamiento: (521817, 10)
0.048% de duplicados
Shape después de preprocesamiento: (7029, 8)
Fecha mínima: 2020-02-01 06:00:00
Fecha máxima: 2021-10-31 16:00:00

Lima PUCP PERC
Shape antes de preprocesamiento: (521798, 10)
0.048% de duplicados
Shape después de preprocesamiento: (7029, 8)
Fecha mínima: 2020-02-01 06:00:00
Fecha máxima: 2021-10-31 16:00:00

Chachapoyas UNTRM CIGS
Shape antes de preprocesamiento: (211339, 10)
0.0% de duplicados
Shape después de preprocesamiento: (3145, 8)
Fecha mínima: 2021-01-19 07:00:00
Fecha máxima: 2021-10-31 16:00:00

Chachapoyas UNTRM HIT
Shape antes de preprocesamiento: (211470, 10)
0.0% de duplicados
Shape después de preprocesamiento: (3145, 8)
Fecha mínima: 2021-01-19 07:00:00
Fecha máxima: 2021-10-31 16:00:00

Chachapoyas UNTRM PERC
Shape antes de preprocesamiento: (211668, 10)
0.0% de duplicados
Shape después de preprocesamiento: (3145, 8)
Fecha mínima: 2021-01-19 07:00:00
Fecha máxima: 2021-10-31 16:00:00

Arequipa UNSA CIGS
Shape antes de preprocesamiento: (107788, 10)
0.0% de duplicados
Shape después de preprocesamiento: (6875, 8)
Fecha mínima: 2020-02-16 06:00:00
Fecha máxima: 2021-11-01 16:00:00

Arequipa UNSA HIT
Shape antes de preprocesamiento: (110548, 10)
0.0% de duplicados
Shape después de preprocesamiento: (6875, 8)
Fecha mínima: 2020-02-16 06:00:00
Fecha máxima: 2021-11-01 16:00:00

Arequipa UNSA PERC
Shape antes de preprocesamiento: (110231, 10)
0.0% de duplicados
Shape después de preprocesamiento: (6875, 8)
Fecha mínima: 2020-02-16 06:00:00
Fecha máxima: 2021-11-01 16:00:00

Tacna UNJBG CIGS
Shape antes de preprocesamiento: (88486, 10)
0.0% de duplicados
Shape después de preprocesamiento: (6952, 8)
Fecha mínima: 2020-02-09 06:00:00
Fecha máxima: 2021-11-01 16:00:00

Tacna UNJBG HIT
Shape antes de preprocesamiento: (93086, 10)
0.0% de duplicados
Shape después de preprocesamiento: (6960, 8)
Fecha mínima: 2020-02-08 09:00:00
Fecha máxima: 2021-11-01 16:00:00

Tacna UNJBG PERC
Shape antes de preprocesamiento: (91948, 10)
0.0% de duplicados
Shape después de preprocesamiento: (6959, 8)
Fecha mínima: 2020-02-08 10:00:00
Fecha máxima: 2021-11-01 16:00:00

Juliaca UNAJ CIGS
Shape antes de preprocesamiento: (135792, 10)
0.0% de duplicados
Shape después de preprocesamiento: (2098, 8)
Fecha mínima: 2021-04-24 09:00:00
Fecha máxima: 2021-10-31 16:00:00

Juliaca UNAJ HIT
Shape antes de preprocesamiento: (135914, 10)
0.0% de duplicados
Shape después de preprocesamiento: (2098, 8)
Fecha mínima: 2021-04-24 09:00:00
Fecha máxima: 2021-10-31 16:00:00

Juliaca UNAJ PERC
Shape antes de preprocesamiento: (135913, 10)
0.0% de duplicados
Shape después de preprocesamiento: (2098, 8)
Fecha mínima: 2021-04-24 09:00:00
Fecha máxima: 2021-10-31 16:00:00

CPU times: user 58.5 s, sys: 419 ms, total: 58.9 s
Wall time: 58.9 s

## Limpieza de datos

In [256]:
data_path_output = r'/data/dibanez/tesis/data_preprocesada/1.filtrada/'
!ls {data_path_output}

Arequipa_UNSA_CIGS_agg_day_hour.csv	 Juliaca_UNAJ_PERC_agg_day_hour.csv
Arequipa_UNSA_HIT_agg_day_hour.csv	 Lima_PUCP_CIGS_agg_day_hour.csv
Arequipa_UNSA_PERC_agg_day_hour.csv	 Lima_PUCP_HIT_agg_day_hour.csv
Chachapoyas_UNTRM_CIGS_agg_day_hour.csv  Lima_PUCP_PERC_agg_day_hour.csv
Chachapoyas_UNTRM_HIT_agg_day_hour.csv	 Tacna_UNJBG_CIGS_agg_day_hour.csv
Chachapoyas_UNTRM_PERC_agg_day_hour.csv  Tacna_UNJBG_HIT_agg_day_hour.csv
Juliaca_UNAJ_CIGS_agg_day_hour.csv	 Tacna_UNJBG_PERC_agg_day_hour.csv
Juliaca_UNAJ_HIT_agg_day_hour.csv

In [286]:
data_path_llenado_output = r'/data/dibanez/tesis/data_preprocesada/2.llenada/'

In [261]:

!cp {data_path_output}Lima_PUCP_HIT_agg_day_hour.csv lima_vacio_hit.csv

In [276]:
def llenar_vacios_mean_mes(df):
    df_suc = df.copy()
    df_suc['Fecha'] = df_suc['Fecha'].astype(np.datetime64)
    df_suc['str_anho_mes_hora']  = df_suc['Fecha'].dt.year.astype(str) + df_suc['Fecha'].dt.month.astype(str) + df_suc['Fecha'].dt.time.astype(str)
    gb_amh = df_suc.groupby('str_anho_mes_hora').mean()
    gb_amh=gb_amh.reset_index()
    df_fill = pd.merge(gb_amh,df_suc[["str_anho_mes_hora","Fecha"]],on="str_anho_mes_hora").set_index('Fecha')
    df_suc = df_suc.set_index('Fecha')
    df_lleno = df_suc.fillna(value=df_fill)
    df_lleno = df_lleno.reset_index()
    df_lleno = df_lleno[df_lleno.columns[:-1]]
    
#     print(df_fill)
    return df_lleno

In [277]:
df_vacios = pd.read_csv(data_path_output+'Lima_PUCP_HIT_agg_day_hour.csv')
df_llenado = llenar_vacios_mean_mes(df_vacios)
df_llenado.to_csv('lleno_pucp_hit.csv', index=False)

In [289]:
for arch in os.listdir(data_path_output):
    df_vacios = pd.read_csv(data_path_output+arch)
    df_llenado = llenar_vacios_mean_mes(df_vacios)
    df_llenado.to_csv('data_path_llenado_output'+'llenado_'+arch, index=False)

In [288]:
data_path_output = r'/data/dibanez/tesis/data_preprocesada/1.filtrada/'
!ls {data_path_llenado_output}

llenado_Arequipa_UNSA_CIGS_agg_day_hour.csv
llenado_Arequipa_UNSA_HIT_agg_day_hour.csv
llenado_Arequipa_UNSA_PERC_agg_day_hour.csv
llenado_Chachapoyas_UNTRM_CIGS_agg_day_hour.csv
llenado_Chachapoyas_UNTRM_HIT_agg_day_hour.csv
llenado_Chachapoyas_UNTRM_PERC_agg_day_hour.csv
llenado_Juliaca_UNAJ_CIGS_agg_day_hour.csv
llenado_Juliaca_UNAJ_HIT_agg_day_hour.csv
llenado_Juliaca_UNAJ_PERC_agg_day_hour.csv
llenado_Lima_PUCP_CIGS_agg_day_hour.csv
llenado_Lima_PUCP_HIT_agg_day_hour.csv
llenado_Lima_PUCP_PERC_agg_day_hour.csv
llenado_Tacna_UNJBG_CIGS_agg_day_hour.csv
llenado_Tacna_UNJBG_HIT_agg_day_hour.csv
llenado_Tacna_UNJBG_PERC_agg_day_hour.csv

### Ejemplo limpieza de dato

In [243]:
df_suc = pd.read_csv(data_path_output+'Lima_PUCP_HIT_agg_day_hour.csv' )
df_suc['Fecha'] = df_suc['Fecha'].astype(np.datetime64)
# df_suc['str_anho_mes']  = df_suc['Fecha'].dt.year.astype(str) + df_suc['Fecha'].dt.month.astype(str)
df_suc['str_anho_mes_hora']  = df_suc['Fecha'].dt.year.astype(str) + df_suc['Fecha'].dt.month.astype(str) + df_suc['Fecha'].dt.time.astype(str)
# df_suc = df_suc.set_index('Fecha')
df_suc

,Fecha,Tamb,Tmod,Irradiancia,Vdc,Idc,Pac,Pdc,str_anho_mes_hora
0,2020-02-16 06:00:00,NaN,NaN,NaN,NaN,NaN,72.000000,NaN,2020206:00:00
1,2020-02-16 07:00:00,NaN,NaN,NaN,NaN,NaN,244.250000,NaN,2020207:00:00
2,2020-02-16 08:00:00,NaN,NaN,NaN,NaN,NaN,708.750000,NaN,2020208:00:00
3,2020-02-16 09:00:00,NaN,NaN,NaN,NaN,NaN,1060.000000,NaN,2020209:00:00
4,2020-02-16 10:00:00,NaN,NaN,NaN,NaN,NaN,1368.250000,NaN,2020210:00:00
...,...,...,...,...,...,...,...,...,...
6870,2021-11-01 12:00:00,NaN,46.273654,NaN,268.256610,5.030712,1305.711864,1348.779661,20211112:00:00
6871,2021-11-01 13:00:00,NaN,43.528431,NaN,273.124407,4.337169,1145.152542,1183.118644,20211113:00:00
6872,2021-11-01 14:00:00,NaN,37.674118,NaN,277.520667,3.355317,888.833333,930.700000,20211114:00:00
6873,2021-11-01 15:00:00,NaN,31.476071,NaN,281.539333,2.152333,573.616667,604.600000,20211115:00:00
6874,2021-11-01 16:00:00,NaN,23.557667,NaN,286.340833,0.903183,233.483333,258.116667,20211116:00:00

In [244]:
gb_amh = df_suc.groupby('str_anho_mes_hora').mean()
gb_amh=gb_amh.reset_index()
gb_amh

,str_anho_mes_hora,Tamb,Tmod,Irradiancia,Vdc,Idc,Pac,Pdc
0,20201006:00:00,NaN,NaN,NaN,NaN,NaN,109.774194,NaN
1,20201007:00:00,NaN,NaN,NaN,NaN,NaN,382.177419,NaN
2,20201008:00:00,NaN,NaN,NaN,NaN,NaN,716.153226,NaN
3,20201009:00:00,NaN,NaN,NaN,NaN,NaN,969.838710,NaN
4,20201010:00:00,NaN,NaN,NaN,NaN,NaN,1164.782258,NaN
...,...,...,...,...,...,...,...,...
237,2021912:00:00,NaN,NaN,NaN,271.565793,4.924158,1289.996756,1334.621333
238,2021913:00:00,NaN,NaN,NaN,273.922498,4.265909,1125.135661,1165.477109
239,2021914:00:00,NaN,NaN,NaN,279.086414,3.204534,854.628646,892.858973
240,2021915:00:00,NaN,NaN,NaN,280.492442,2.070263,549.354695,580.894000
241,2021916:00:00,NaN,NaN,NaN,276.179655,0.826051,212.282514,231.640013

In [245]:
df_fill = pd.merge(gb_amh,df_suc[["str_anho_mes_hora","Fecha"]],on="str_anho_mes_hora").set_index('Fecha')
df_fill

,str_anho_mes_hora,Tamb,Tmod,Irradiancia,Vdc,Idc,Pac,Pdc
Fecha,,,,,,,,
2020-10-01 06:00:00,20201006:00:00,NaN,NaN,NaN,NaN,NaN,109.774194,NaN
2020-10-02 06:00:00,20201006:00:00,NaN,NaN,NaN,NaN,NaN,109.774194,NaN
2020-10-03 06:00:00,20201006:00:00,NaN,NaN,NaN,NaN,NaN,109.774194,NaN
2020-10-04 06:00:00,20201006:00:00,NaN,NaN,NaN,NaN,NaN,109.774194,NaN
2020-10-05 06:00:00,20201006:00:00,NaN,NaN,NaN,NaN,NaN,109.774194,NaN
...,...,...,...,...,...,...,...,...
2021-09-26 16:00:00,2021916:00:00,NaN,NaN,NaN,276.179655,0.826051,212.282514,231.640013
2021-09-27 16:00:00,2021916:00:00,NaN,NaN,NaN,276.179655,0.826051,212.282514,231.640013
2021-09-28 16:00:00,2021916:00:00,NaN,NaN,NaN,276.179655,0.826051,212.282514,231.640013
2021-09-29 16:00:00,2021916:00:00,NaN,NaN,NaN,276.179655,0.826051,212.282514,231.640013
2021-09-30 16:00:00,2021916:00:00,NaN,NaN,NaN,276.179655,0.826051,212.282514,231.640013

In [246]:
df_suc = df_suc.set_index('Fecha')
df_suc

,Tamb,Tmod,Irradiancia,Vdc,Idc,Pac,Pdc,str_anho_mes_hora
Fecha,,,,,,,,
2020-02-16 06:00:00,NaN,NaN,NaN,NaN,NaN,72.000000,NaN,2020206:00:00
2020-02-16 07:00:00,NaN,NaN,NaN,NaN,NaN,244.250000,NaN,2020207:00:00
2020-02-16 08:00:00,NaN,NaN,NaN,NaN,NaN,708.750000,NaN,2020208:00:00
2020-02-16 09:00:00,NaN,NaN,NaN,NaN,NaN,1060.000000,NaN,2020209:00:00
2020-02-16 10:00:00,NaN,NaN,NaN,NaN,NaN,1368.250000,NaN,2020210:00:00
...,...,...,...,...,...,...,...,...
2021-11-01 12:00:00,NaN,46.273654,NaN,268.256610,5.030712,1305.711864,1348.779661,20211112:00:00
2021-11-01 13:00:00,NaN,43.528431,NaN,273.124407,4.337169,1145.152542,1183.118644,20211113:00:00
2021-11-01 14:00:00,NaN,37.674118,NaN,277.520667,3.355317,888.833333,930.700000,20211114:00:00
2021-11-01 15:00:00,NaN,31.476071,NaN,281.539333,2.152333,573.616667,604.600000,20211115:00:00
2021-11-01 16:00:00,NaN,23.557667,NaN,286.340833,0.903183,233.483333,258.116667,20211116:00:00

In [252]:
df_lleno = df_suc.fillna(value=df_fill)
df_lleno.isna().sum()/len(df_lleno)

Tamb                 1.000000
Tmod                 0.851200
Irradiancia          1.000000
Vdc                  0.753600
Idc                  0.753600
Pac                  0.008873
Pdc                  0.753600
str_anho_mes_hora    0.000000
dtype: float64

In [249]:
df_suc.isna().sum()/len(df_suc)

Tamb                 1.000000
Tmod                 0.946036
Irradiancia          1.000000
Vdc                  0.788800
Idc                  0.788800
Pac                  0.080582
Pdc                  0.788800
str_anho_mes_hora    0.000000
dtype: float64

In [201]:
loc['20201006:00:00']['Tamb']

nan

In [ ]:
def llenar_vacios(df, ls_cols):

# Ejemplo de una ubicación

## Lectura de datos

In [24]:
data_path = r"/data/dibanez/tesis/"

In [25]:
!ls {data_path}

data_preprocesada  IT_Platform_Clean_Data_V3

In [26]:
technology = "HIT"
departamento = "Lima"
universidad = "PUCP"
path = data_path + f"IT_Platform_Clean_Data_V3/{departamento}/{universidad}/{technology}/"

In [27]:
columnas = ['Archivo', 'Fecha', 'Tamb', 'Tmod', 'Irradiancia', 'Vdc', 'Idc', 'Pac', 'Pdc']
df_dtypes = { 'Fecha':np.datetime64,'Tamb':np.float64, 'Tmod':np.float64, 'Irradiancia':np.float64, 'Vdc':np.float64, 'Idc':np.float64, 'Pac':np.float64, 'Pdc':np.float64}
df = pd.DataFrame(columns=columnas)

for archivo in os.listdir(path):
    if 'Overall' in archivo: continue
    df_temp = pd.read_csv(path + archivo, usecols = columnas[1:])
    df_temp['Archivo'] = archivo
    #df_temp = df_temp.rename(columns={'Fecha': 'Datetime'})
    df_temp = df_temp[columnas]
    df_temp = df_temp.astype(df_dtypes)
    df = df.append(df_temp, ignore_index=True)
#     print(archivo, df_temp.shape)

In [28]:
df.dtypes

Archivo                object
Fecha          datetime64[ns]
Tamb                  float64
Tmod                  float64
Irradiancia           float64
Vdc                   float64
Idc                   float64
Pac                   float64
Pdc                   float64
dtype: object

In [29]:
df.shape

(521817, 9)

In [30]:
df.head()

,Archivo,Fecha,Tamb,Tmod,Irradiancia,Vdc,Idc,Pac,Pdc
0,2020_03_26.csv,2020-03-26 05:00:00,20.758370,NaN,NaN,NaN,NaN,NaN,NaN
1,2020_03_26.csv,2020-03-26 05:01:00,20.757996,NaN,NaN,NaN,NaN,NaN,NaN
2,2020_03_26.csv,2020-03-26 05:03:00,20.758745,NaN,NaN,NaN,NaN,NaN,NaN
3,2020_03_26.csv,2020-03-26 05:05:00,20.788308,NaN,NaN,NaN,NaN,NaN,NaN
4,2020_03_26.csv,2020-03-26 05:06:00,20.810079,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df.set_index('Fecha').Tmod.dropna().index.max()

Timestamp('2021-10-31 18:30:00')

## Preprocesamiento

In [26]:
preprocessed_path = data_path + 'data_preprocesada/'
preprocessed_path = "./"

In [27]:
df_pre = df.copy()
print(df_pre.shape)
df_pre = df_pre.set_index('Fecha')
df_pre.head()

(521817, 9)

,Archivo,Tamb,Tmod,Irradiancia,Vdc,Idc,Pac,Pdc
Fecha,,,,,,,,
2020-03-26 05:00:00,2020_03_26.csv,20.758370,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-26 05:01:00,2020_03_26.csv,20.757996,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-26 05:03:00,2020_03_26.csv,20.758745,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-26 05:05:00,2020_03_26.csv,20.788308,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-26 05:06:00,2020_03_26.csv,20.810079,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# Duplicados de un mismo datetime
print(f'{len(df_pre[df_pre.index.duplicated(keep="first")])/len(df_pre)*100:.2}% de duplicados')
df_pre[df_pre.index.duplicated(keep='first')]

0.048% de duplicados

,Archivo,Tamb,Tmod,Irradiancia,Vdc,Idc,Pac,Pdc
Fecha,,,,,,,,
2020-10-11 07:08:00,2020_10_11.csv,16.375872,NaN,181.972809,300.44,0.643,238.53092,258.473227
2020-10-11 07:08:00,2020_10_11.csv,16.375872,NaN,181.972809,300.44,0.643,238.53092,258.473227
2020-10-11 07:08:00,2020_10_11.csv,16.375872,NaN,181.972809,300.44,0.643,238.53092,258.473227
2020-10-11 07:08:00,2020_10_11.csv,16.375872,NaN,181.972809,300.44,0.643,238.53092,258.473227
2020-10-11 07:08:00,2020_10_11.csv,16.375872,NaN,181.972809,300.44,0.643,238.53092,258.473227
...,...,...,...,...,...,...,...,...
2021-07-01 13:34:00,2021_07_01.csv,16.702618,NaN,NaN,282.33,1.149,298.00000,324.000000
2021-07-01 13:34:00,2021_07_01.csv,16.702618,NaN,NaN,282.33,1.149,300.00000,326.000000
2021-07-01 13:34:00,2021_07_01.csv,16.702618,NaN,NaN,282.33,1.149,300.00000,324.000000
2021-07-01 13:34:00,2021_07_01.csv,16.702618,NaN,NaN,282.33,1.149,298.00000,326.000000
2021-07-01 13:34:00,2021_07_01.csv,16.702618,NaN,NaN,282.33,1.149,298.00000,324.000000

In [29]:
#TODO
df_pre = df_pre[~df_pre.index.duplicated(keep='first')]
print(df_pre.shape)

(521566, 8)

In [30]:
df_day = df_pre.copy()

In [31]:
df_day_hour = df_day[df_day.columns[1:]].resample('H').mean()
print(df_day_hour.shape)

(15326, 7)

In [32]:
df_day_hour = df_day_hour.between_time('06:00:00', '17:00:00', include_end=False)
print(df_day_hour.shape)
df_day_hour.head()

(7029, 7)

                          Tamb  Tmod  Irradiancia  Vdc  Idc  Pac  Pdc
Fecha
2020-02-01 06:00:00  22.026791   NaN    27.115116  NaN  NaN  NaN  NaN
2020-02-01 07:00:00  21.722877   NaN   111.537495  NaN  NaN  NaN  NaN
2020-02-01 08:00:00  22.832072   NaN   416.345874  NaN  NaN  NaN  NaN
2020-02-01 09:00:00  23.769869   NaN   557.163245  NaN  NaN  NaN  NaN
2020-02-01 10:00:00  25.171561   NaN   843.467267  NaN  NaN  NaN  NaN

In [33]:
df_day_hour.to_csv(preprocessed_path+departamento+'_'+universidad+'_'+technology+'_agg_day_hour.csv')